.toolbar {
  grid-area: toolbar;
  width: 100%;
  padding: 2rem 0;
  // background-color: red;

  .wrapper {
    height: 170px;
    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 2rem;

      .input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        position: relative;
        margin-right: 1rem;

        input {
          width: 100%;
          font-size: 18px;
          padding: 0.6rem 2rem 0.6rem 0.4rem;
          border: 0.1px solid #deb6ab;
          border-radius: 0.3rem;

          &:focus {
            outline: none;
          }
        }
        svg {
          color: #deb6ab;
          position: absolute;
          right: 10px;
          cursor: pointer;
        }
      }

      .btn {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.8rem 1.5rem;
        background-color: #deb6ab;
        color: #f8ecd1;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
    .control {
      width: 100%;
      display: flex;
      // flex-direction: row;
      align-items: center;
      justify-content: center;

      & > button {
        background-color: transparent;
        border: none;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #000;
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
        &:active {
          transform: scale(0.95);
        }

        & > span {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: red;
        }

        &:last-child > span {
          background-color: green;
          // color: green;
        }
      }
    }

    .banner {
      padding: 0.3rem 1rem;
      background-color: red;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 1s;
      z-index: 100;

      h3 {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
