.todo {
  width: 100%;
  padding: 0.6rem 0;
  margin: 0 0 2rem 0;
  background-color: #f8ecd1;
  border: 0.2rem solid #f8ecd1;
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.76);

  &.ishot {
    animation: ishot 1s infinite;
    @keyframes ishot {
      0% {
        border: 0.2rem solid rgba(255, 0, 0, 0.672);
      }
      25% {
        border: 0.2rem solid rgba(255, 0, 0, 0.423);
      }
      50% {
        border: 0.2rem solid rgba(255, 0, 0, 0.19);
      }

      75% {
        border: 0.2rem solid rgba(255, 0, 0, 0.488);
      }

      100% {
        border: 0.2rem solid rgba(255, 0, 0, 0.763);
      }
    }
  }

  &.isimportant {
    border: 0.2rem solid green;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 20px;
      font-weight: 300;
    }

    div {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;

        background-color: transparent;
        // padding: 5px 7px;
        // border: 1px solid #000;
        border: none;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
        &:active {
          transform: scale(0.95);
        }

        svg {
          font-size: 15px;
        }
      }
    }
  }

  .description {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;

    span {
      font-size: 12px;
      margin: 0 2rem;
    }
  }
}
