.aside {
  background-color: #deb6ab;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .navbar {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      // align-items: flex-start;

      li {
        width: 100px;
        font-size: 16px;
        color: #85586f;
        font-weight: 300;
        padding: 1rem 0 1rem 2rem;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s;

        &.active {
          color: #deb6ab;
          background-color: #85586f56;
        }

        &:hover {
          color: #deb6ab;
          background-color: #85586f56;
          opacity: 0.6;
        }
      }
    }
  }
}
