@media (max-width: 900px) {
  .board {
    display: flex;
    flex-direction: column-reverse;

    // margin: 1rem;
    // background-color: red;
  }
  .todoForm {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 30%;

    .todoEdit {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      textarea {
        margin: 0.5rem;
        border-radius: 10px;
        color: #000;
        width: 80%;
        height: 100%;
        resize: none;
        border: none;
        padding: 1rem;
        font-size: 22px;
        box-shadow: 0px 6px 10px 2px rgba($color: #000000, $alpha: 0.2);
      }
      button {
        width: 20%;
        background-color: #fff;
        margin: 0.5rem;
        font-size: 14px;
        text-transform: unset;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        padding: 0;
        box-shadow: 0px 6px 5px 2px rgba($color: #000000, $alpha: 0.2);
      }
    }
    .todoStat {
      margin: 0rem;
      padding: 0rem;

      p {
        font-size: 14px;
        text-align: justify;
        font-family: inherit;
        font-weight: bold;
      }
      .warningMsg {
        opacity: 0.7;
        border-radius: 10px;
        font-size: 16px;
        text-align: center;
        color: red;
        padding: 1rem;
        background-color: rgba(255, 0, 0, 0.171);
        box-shadow: 0px 2px 3px 2px rgba($color: #000000, $alpha: 0.2);
      }
    }
  }

  .todo-column {
    // background-color: blue;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 1rem 0 0 0;
    .todo {
      //   background-color: red;
      .item-text {
        width: 90%;
        margin: 0.7rem;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 475px) {
  .board {
  }

  .todoForm {
    .todoEdit {
      textarea {
        font-size: 16px;
        margin: 0.3rem;
        height: 80px;
      }
      button {
        margin: 0.3rem;
        font-size: 0px;
        &::after {
          font-size: 10px;
          content: "OK";
        }
      }
    }
  }

  .todo-column {
    display: flex;

    width: 100%;
    margin: 1rem 0 0 0;
    .todo {
      .item-text {
        width: 90%;
        margin: 0.7rem;
        justify-content: flex-start;
      }
    }
  }
}
