body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
}

body {
  // background-color: whitesmoke;
}

.title {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.board {
  display: flex;
  margin: 1rem;
  justify-content: flex-end;
  // border: 1px solid #000;
  // box-shadow: 0 0 3px 2px rgba($color: #000000, $alpha: 0.2);
}
.todoForm {
  width: 40%;
  display: flex;
  flex-direction: column;
  .todoEdit {
    width: 100%;

    display: flex;
    flex-direction: column;

    textarea {
      margin: 1rem;
      border-radius: 10px;
      color: #000;
      height: 200px;
      resize: none;
      border: none;
      padding: 1rem;
      font-size: 22px;
      box-shadow: 0px 6px 10px 2px rgba($color: #000000, $alpha: 0.2);

      &:focus {
        outline: none;
        // background-color: rgba(9, 16, 22, 0.705);
        color: #000;
        opacity: 0.7;
      }
    }

    button {
      background-color: #fff;
      margin: 1rem;
      font-size: 30px;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      padding: 2rem;
      box-shadow: 0px 6px 5px 2px rgba($color: #000000, $alpha: 0.2);

      &:hover {
        opacity: 0.8;
      }
      &:active {
        box-shadow: none;
        transform: scale(0.98);
      }
    }
  }
  .todoStat {
    margin: 1rem;
    padding: 1rem;

    p {
      font-size: 20px;
      text-align: justify;
      font-family: inherit;
      font-weight: bold;
    }
    .warningMsg {
      opacity: 0.7;
      border-radius: 10px;
      font-size: 16px;
      text-align: center;
      color: red;
      padding: 1rem;
      background-color: rgba(255, 0, 0, 0.171);
      box-shadow: 0px 2px 3px 2px rgba($color: #000000, $alpha: 0.2);
    }
  }
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border: none;
  font-size: 20px;
  margin: 1.2rem;
  background-color: #fff;
  border-bottom: 1px solid #000;
  // color: rgba(0, 0, 0, 0.233);
  // opacity: 0.6;

  &:focus {
    outline: none;
  }
}

.todo-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;

  .todo {
    box-shadow: 0px 1px 2px 1px rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__task {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    .item-text {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      width: 90%;
      margin: 1.2rem;
      color: #000;
      font-size: 20px;
      overflow-x: hidden;

      &.strike {
        text-decoration: line-through;
        opacity: 0.3;
      }
    }
  }
}

.itemDelete {
  cursor: pointer;
  border: none;
  font-size: 12px;
  padding: 7px 9px;
  border-radius: 50%;
  font-weight: bold;
}

.itemEdit {
  cursor: pointer;
  border: none;
  font-size: 12px;
  padding: 7px 9px;
  border-radius: 50%;
  font-weight: bold;
}

@import "./mobile";
